.navbar{
 
       
  background-color: #f7f3f3;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #9f9393 40px),
  repeating-linear-gradient(#16161655, #161616);


}